body{
	padding-top: 90px;
}


.search-enpedia{
	height: 300px;
}

/*.search-enpedia label{
	font-size: 0.8em;
}*/

.enpedia-head{
	width: 600px;
	margin-bottom: 30px;
}

.full-width{
	width: 100%;
}

.sidenav{
	margin-top: 20px;
	font-size: 0.8em;
	border-radius: 5px;
}

.sidenav ul{
	list-style: none;
	padding-left: 0px;
	padding: 0px 1.5%;
	background: #dfdfdf;
}

.sidenav p{
	padding: 7px;
	color: white;
	margin-bottom: 0px;
	background-color: #4EAF9C;
}

.sidenav li{
	padding: 5px;
	border-bottom: 2px solid #ccc;
}

.sidenav li a{
	padding-left: 40px;
	color: black;
}