.container.ind-reg{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 450px;
	margin-bottom: 30px;
	border: none;
}

.container.ind-reg h2,p{
	margin: auto;
}

.container.ind-reg p
{
	font-size: 14px;
	font-weight: 700;
}

.reg-form{
	margin-top: 20px!important;
	margin: auto;
}

.reg-form .form-group label
{
	font-weight: 300;
}

.form-group{
	margin-bottom: 5px;
}

.form-group input
{
	/*border: 1px solid #444444;*/
}

.control-label{
	font-size: 13px;
	font-weight: 700;
	text-align: left!important;
}

.submit-section{
	max-width: 250px;
	margin: auto;
	margin-top: 20px;
}

.btn.register{
	width: 100%;
	height: 45px;
	font-size: 23px;
	font-weight: 700;
}

.btn.register-lnkdin{
	width: 100%;
	font-weight: 700;
}

.term{
	padding: 10px 15px 5px 15px;
	font-size: 9px;
}

.or{
	font-size: 15px;
}

.already-sign-in{
	margin-top: 10px;
	font-size: 12px;
}

.border{
	border: solid 1px black;
}