s@media screen and (max-width: 790px) {
    #sign_up{
    	display: none;
    }

    nav{
    	display: none;
    }

}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
 
}

@media screen and (max-width: 600px){
    .main-description img{
        max-width: 250px;
    }

    .benefit-item img{
        max-width: 200px;
    }
}

@media screen and (min-width: 790px){
	#burger_menu{
		display: none;
	}

}

@media screen and (max-width: 768px) {
    .footer li,h3{
        text-align: center;
    }

    .footer h3
    {
        text-align: center!important;
        margin: 20px auto;
    }

    .sos
    {
        max-width: 173px;
        margin: auto;
    }

    .gone-mob{
        display: none;
    }

    .section-one{ 
        max-height: 360px;
        padding-top:5%;
    }

    .btn-smaller-mob
    {
        width: 250px;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {

    .display-mob{
        display: none;
    }

}